@font-face {
    font-family: 'OpenSans-Bold';
    src: url('Open_Sans/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('Open_Sans/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('Open_Sans/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSans-Light';
    src: url('Open_Sans/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('Open_Sans/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Merriweather-Black';
    src: url('Merriweather/Merriweather-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Merriweather-Regular';
    src: url('Merriweather/Merriweather-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Merriweather-Bold';
    src: url('Merriweather/Merriweather-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}